
@model Event

@{
    Layout = "_Layout";
}



    <h3>Add Event</h3>


<form method="post" asp-controller="Events" asp-action="Add" style="padding:10px; margin:10px;width:500px">
    <div class="">
        <label asp-for="Name" class="col-form-label"></label>
 
    
        <div class="" >
            <input type="text" asp-for="Name" class="form-control"/>
        </div>
         <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="">
        <label asp-for="Description" class="col-form-label"></label>
   
        <div class="">
            <input type="text" asp-for="Description" class="form-control"/>
        </div>
     </div>

    <div class="" style="margin-top:30px">
        <input type ="submit" class="btn btn-primary" value="Add"/>
    </div>
</form>